body {
  background-image: url("../images/about.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

p {
  padding-top: 50px;
  padding-right: 10px;
  padding-bottom: 50px;
  padding-left: 600px;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
}

img {
  padding-top: 60px;
  padding-right: 100px;
  padding-bottom: 60px;
  padding-left: 200px;
  border-radius: 50%;
  position: absolute;
}

.button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 24px;
  text-align: top left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.button:hover {
  background-color: white;
  color: white;
}
